.Owner {
  font-weight: bold;
  color: #28a745;
  margin-right: 6px;
}

.Date {
  font-weight: lighter;
  color: #979794;
}

.CommentContainer {
  display: flex;
  gap: 10px;
}

.CommentContainer i {
  font-size: 18px;
  margin-bottom: 3px;
}

.CommentContainer i:hover {
  color: #ffffff;
  cursor: pointer;
}

.Button {
  border: none;
  background-color: #28a745;
  color: #f0f1f9;
  border-radius: 5px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #f0f1f9;
  color: #121212;
}
