.Owner {
  font-weight: bold;
  color: #28a745;
  margin-right: 6px;
}

.Date {
  font-weight: lighter;
  color: #979794;
}

.CommentContainer {
  display: flex;
  gap: 10px;
}

.CommentContainer i {
  font-size: 18px;
}

.CommentContainer i:hover {
  color: #ffffff;
  cursor: pointer;
}
