.PostCard {
  background-color: #333333;
  border: 2px solid #121212;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
}

.ProfileLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  color: #f0f1f9;
}

.ProfileLink:hover {
  color: #28a745;
  transition: color ease-in-out 0.3s;
}

.ProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.ProfileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow: hidden;
}

.ProfileInfo h6 {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #28a745;
  margin: 0;
}

.ProfileInfo span {
  font-size: 0.8rem;
  color: #f0f1f9;
}

.PostContent {
  padding: 10px;
  border-bottom: 2px solid #121212;
}

.PostItem {
  border-bottom: 2px solid #121212;
  padding: 8px 0px;
}

.PostTitle {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  color: #f0f1f9;
  margin-bottom: 10px;
}

.PostTitle:hover {
  color: #28a745;
}

.PostText {
  font-size: 1rem;
  color: #f0f1f9;
  text-align: center;
}

.iconContainer {
  border-top: 1px solid #121212;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  color: white;
}

.PostCard i:hover {
  color: white;
  cursor: pointer;
}

.CommentCard {
  background-color: #333333;
  border: 2px solid #121212;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 10px;
}

.PostItemTitle {
  display: flex;
  justify-content: center;
  color: #28a745;
  font-weight: 700;
}

.PostItemValue {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-align: center;
  padding: 0px 30px;
}
