.NavBar {
    display: flex;
    background-color: #121212;
    font-size: 1rem;
    font-weight: 700;
    border: 3px solid #333333;
    align-items: right;
}

.NavLink {
    padding: 10px;
    color: #979794;
}

.NavLink:hover {
    color: #ffffff;
}

.NavLink i {
    margin-right: 8px;
    font-size: 1.8rem;
}

.Active i {
    color: #ffffff;
}

