.Form {
    background-color: #121212;
}

.FormLabel {
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #28a745;
}

.FormControl {
    padding: 10px;
    background-color: red;
}

.CustomFileInput {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .CustomFileInput:hover {
    background-color: #ffffff;
    color: #121212;
  }
  
  .FileInput {
    display: none; /* Hide the actual file input */
  }
  