.PostCreateEditForm {
  padding-top: 20px;
}

.Form {
  background-color: #333333;
  padding: 1rem;
  border: 2px solid #121212;
  box-sizing: border-box;
  border-radius: 10px;
}

.FormLabel {
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #28a745;
}

.FormControl {
  padding: 10px;
}

.CustomFileInput {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.CustomFileInput:hover {
  background-color: #ffffff;
  color: #121212;
}

