.PostCreateEditForm {
  padding-top: 20px;
}

.Form {
  background-color: #333333;
  padding: 1rem;
  border: 2px solid #121212;
  box-sizing: border-box;
  border-radius: 10px;
}

.FormLabel {
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #28a745;
}

.FormControl {
  display: flex;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  background-color: #f0f1f9;
  border-radius: 10px;
}

.FormControl:active {
  background-color: #f0f1f9;
}

.FormControl:focus {
  background-color: #f0f1f9;
  border-color: #28a745;
}

@media (max-width: 767px) {
  .FormControl {
    width: 100%;
  }
}

