.CustomCard {
  background-color: #333333;
  border: 2px solid #121212;
  border-radius: 10px;
  padding: 1rem;
}

.NavLink {
  padding: 10px;
  color: #979794;
}

.NavLink:hover {
  color: #ffffff;
}

.NavLink i {
  margin-right: 2px;
  font-size: 1.5rem;
}

.Active i {
  color: #ffffff;
}

/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
    .CardBody {
      text-align: center;
    }
  }