.CustomCard {
  background-color: #333333;
  border: 2px solid #121212;
  border-radius: 10px;
  padding: 1rem;
}

.Link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 0;
  color: #979794;
}

.LinkContainer {
  margin-bottom: 10px;
}

.Link:hover {
  color: #ffffff;
}

.Link i {
  margin-right: 4px;
  font-size: 1.5rem;
}

.Active i {
  color: #ffffff;
}

/* Media query for screens with a maximum width of 767px */
@media (max-width: 767px) {
  .CardBody {
    text-align: center;
  }
}
